<html>
   <head>
      <title>Agile</title>

      <script src = "angular-1.7.5/angular.min.js"> </script>
      <script src = "angular-1.7.5/angular-route.min.js"> </script>

      <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

      <!-- 1. Agile application style -->
      <link rel="stylesheet" type="text/css" href="css/agile.css">
   </head>

   <body>
      <h2>Agile Application</h2>

      <div ng-app = "agileApp">
         <li><a href = "#!listAllProjects">All Projects</a></li>
         <br/>
         <li><a href = "#!listOneProject">Get Project</a></li>
         <div ng-view></div>

         <!-- allProjects HTML page, can be separate file too -->
         <script type = "text/ng-template" id = "allProjects.htm">
            <h2> All Projects </h2>

            <table border = "0">
                <!-- 1a. project rows -->
                <tr> <th>Project ID</th>  <th>Project Name</th> <th>Project Status</th>  </tr>
                <tr ng-repeat = "p in projects">
                    <td align=center> {{ p.pid     }} </td>
                    <td align=left>   {{ p.pName   }} </td>
                    <td align=left contenteditable>   {{ p.pStatus }} </td>
                </tr>
                <tr> <td > {{ p2 }} </td> </tr>
            </table>
         </script>

         <!-- oneProject HTML page, can be separate file too -->
         <script type = "text/ng-template" id = "oneProject.htm">
            <br/>
            <!-- Get user inputs -->
			<table>
				<tr>
					<td width="80">pName</td>
					<td><input type="text" ng-model="pName" /></td>
					<td width="80">sType</td>
					<td><input type="text" ng-model="sType" /></td>
					<td> <button ng-click="getOneProject(pName, sType)"> Get </button> </td>
				</tr>
			</table>

			<p>{pName, sType} =  {{pName}}, {{sType}}</p>

            <table border = "0">
                <!-- 1a. sprint rows -->
                <tr>
                    <th>Project ID</th>  <th>Project Name</th>
                    <th>Sprint ID</th>   <th>Sprint Name</th>   <th>Sprint Status</th>
                </tr>
                <tr ng-repeat = "s in sprints">
                    <td align=center> {{ s.pid     }} </td>
                    <td align=center> {{ s.pName   }} </td>
                    <td align=center> {{ s.sid     }} </td>
                    <td align=left>   {{ s.sName   }} </td>
                    <td align=left contenteditable>   {{ s.sStatus }} </td>
                </tr>
             </table>
         </script>

      </div>

      <!-- agileApp, incl. routing and controllers -->
      <script src = "controller/agile.js"> </script>

   </body>
</html>
